.btn {
  background-color: var(--dark-color);
  padding: 18px 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--light-color);
}
