.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 90px;

  @include small-tablet {
    position: static;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 138px;
  }

  &__site-nav {
    flex: 1;
  }

  &__user-nav {
    flex-shrink: 0;
    margin-left: 20px;

    @include small-tablet {
      margin-left: auto;
      margin-right: 40px;
    }
  }
}
