.header {
  padding-top: 90px;
  padding-bottom: 90px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 138px;
  }

  &__site-nav {
    flex: 1;
  }

  &__user-nav {
    flex-shrink: 0;
    margin-left: 20px;
  }
}
