.hero {
  padding-top: 196px;
  padding-bottom: 60px;
  background: linear-gradient(to right, transparent 59%, var(--accent-color) 0%);

  @include small-tablet {
    padding-top: 0;
    background: none;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      background-color: var(--accent-color);
      width: var(--container-offset);
      height: 327px;
    }
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__swiper {
    position: relative;
  }

  &__controls {
    border-radius: 8px;
    background-color: rgba(#FAECE9, 0.7);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;

    @include small-tablet {
      align-items: center;
      flex-direction: row;
      margin-top: 25px;
      position: static;
      background-color: transparent;
    }
  }

  &__scrollbar {
    display: none;

    @include small-tablet {
      display: block;
      height: 3px;
      width: 100%;
      background-color: rgba(#141215, 0.1);
      margin-right: 15px;

      .swiper-scrollbar-drag {
        background-color: var(--dark-color);
      }
    }
  }

  &__pagination {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 170%;
    color: #141215;
  }

  &__pagination-bullet {
    @include flex-all-center;

    cursor: pointer;
    padding: 7px;
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black-color);
    opacity: 0.3;
    transition: opacity ease 0.2s;
    margin-bottom: 5px;

    &--active {
      opacity: 1;
      border-right: 2px solid var(--black-color);
      font-size: 40px;
      color: var(--black-color);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 545px;
    margin-right: 30px;

    @include high-tablet {
      max-width: 320px;
      margin-right: 10px;
    }

    @include small-tablet {
      width: 100%;
      order: 2;
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 700;
    font-size: 57px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark-color);

    @include high-tablet {
      font-size: 33px;
    }

    @include mobile {
      font-size: 27px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--dark-color);

    @include high-tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__prices {
    margin-bottom: 35px;

    span {
      display: inline-block;

      &:first-child {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: var(--dark-color);
        margin-right: 22px;

        @include high-tablet {
          font-size: 18px;
        }
      }

      &:last-child {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: var(--dark-color);

        @include high-tablet {
          font-size: 24px;
        }
      }
    }
  }

  &__btn {
    padding-left: 80px;
    padding-right: 80px;

    @include small-tablet {
      width: 100%;
      padding-left: unset;
      padding-right: unset;
    }
  }

  &__image {
    img {
      width: 442px;

      @include high-desktop {
        width: 300px;
      }

      @include small-tablet {
        width: 250px;
      }
    }

    @include small-tablet {
      box-sizing: border-box;
      order: 1;
      height: 327px;
      width: 100%;
      text-align: center;
      background: linear-gradient(to right, transparent 50%, var(--accent-color) 0%);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 25px;
      margin-bottom: 30px;
    }
  }
}
