.sale {
  padding-top: 73px;
  padding-bottom: 66px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
    top: 0;
    left: 0;
    width: 54%;
    height: 77%;

    @include mobile {
      background-color: transparent;
    }
  }

  &__title {
    margin-bottom: 37px;
  }

  &__controls {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 25px;
      position: static;
      background-color: transparent;
    }
  }

  &__scrollbar {
    @include small-tablet {
      display: block;
      height: 3px;
      width: 100%;
      background-color: rgba(#141215, 0.1);
      margin-right: 15px;

      .swiper-scrollbar-drag {
        background-color: var(--dark-color);
      }
    }
  }

  &__pagination {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 170%;
    color: #141215;
  }

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 31px;

    @include high-desktop {
      grid-template-columns: repeat(12, 1fr);
    }

    @include mobile {
      display: flex;
      gap: unset;
    }
  }

  .swiper-slide {
    grid-column: 2 span;

    @include high-desktop {
      grid-column: 3 span;
    }

    @include high-tablet {
      grid-column: 4 span;
    }

    @include small-tablet {
      grid-column: 6 span;
    }
  }
}

.tabs {
  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    @include mobile {
      justify-content: space-between;
    }
  }

  &__nav-item {
    @include mr(48px);
  }

  &__nav-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0,0,0, 0.4);
    transition: color ease-in 0.2s;

    &:focus {
      color: rgba(0,0,0, 1);
      background-color: transparent;
    }

    &--active {
      text-decoration: underline;
      outline: none;
      color: rgba(0,0,0, 1);
      background-color: transparent;
    }
  }
}
